<title>Kuvaus</title>
<h2>Kuvaus kotityöstä</h2>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<hr>
{% for content in content %}
Kotityön id: {{ content[0] }} <br>
Kotityön kuvaus: {{ content[1] }} <br>
Vastuussa: {{ content[2] }} <br>
Kesto: {{ content[3] }} <br>
Vaihe: {{ content[4] }} <br>
Kenelle soveltuu: {{ content[5] }} <br>
</hr>
{% endfor %}
<p></p>
<hr>
<form name="Form" onsubmit="return validateForm()" action="/update_chore" method="POST">
<p>Päivitä vaihe ja kokonaiskesto:<br>
<input type="hidden" name="id" value={{ id }}></p>
Tähän vielä statusvaihtoehdot:<br>
{% for status in statuses %}
<input type="radio" name="status" value={{ status[0] }}> {{ status[2] }} <br>
{% endfor %}
<p>
<p></p>
Tähän kokonaiskesto:
<input type="number" name="kesto"></p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lähetä">
</form>
<script type="text/javascript">
  function validateForm() {
    var a = document.forms["Form"]["status"].value;
    var b = document.forms["Form"]["kesto"].value;
    if (a == null || a == "") {
      alert("Ole hyvä ja täytä Status lomakkeelle - se on pakollinen tieto");
      return false;
    }
    else if (b < 0) {
      alert("Kesto ei voi olla negatiivinen")
      return false;
    }
    else {
      return true;
    }
  }
</script>
<p></p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
<a href="/">Etusivulle</a>
<style>
p {
  color: darkmagenta;
}
body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: lightpink;
}
nav li {
    display: inline-block;
    padding: 0 .5em;
}
h1 {
    color: chartreuse;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
form {
    display: block;
    float: right;
    padding: .5em;
    background: blanchedalmond;
}
title {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: chartreuse;
}
h2 {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: fuchsia;
}
</style>
