{% extends "layout.html" %}
{% block title %}Uusi tekemätön kotityö{% endblock %}
{% block content %}
<title>Uusi kotityö</title>
<h2>Uusi tekemätön kotityö</h2>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<hr>
<p>Olet havainnut tehtävän kotityön. Ole hyvä ja kirjaa mikä se on ja kauan siihen arviolta menee:<p/>
<form name="Form" onsubmit="return validateForm()" action="/new_undone_chore" method="POST">
Mikä kotityö?<br>
<input type="text" name="kuvaus">
<br>
Kuinka monta minuuttia siihen arviolta menee?<br>
<input type="text" name="kesto">
<br>
Kenelle työ sopii?<br>
{% for category in categories %}
<input type="radio" name="luokka" value={{ category[0] }}> {{ category[2] }} <br>
{% endfor %}
<br>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lähetä">
</form>
<script type="text/javascript">
  function validateForm() {
    var a = document.forms["Form"]["kuvaus"].value;
    var b = document.forms["Form"]["luokka"].value;
    var c = document.forms["Form"]["kesto"].value;
    if (a == null || a == "", b == null || b == "", c == null || c == "") {
      alert("Täytä lomakkeelle kuvaus, kesto ja kenelle se sopii - ne ovat pakollisia kenttiä");
      return false;
    }
    else if (c.length > 3) {
      alert("Kesto on liian pitkä");
      return false;
    }
    else if (isNaN(c)) {
      alert("Keston oltava numeroita");
      return false;
    }
    else if (c < 0) {
        alert("Kesto ei voi olla negatiivinen")
        return false;
    }
    else {
      return true;
    }
  }
</script>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
{% endblock %}
