<title>Uusi kotityö</title>
<h1>Uusi tekemätön kotityö</h1>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<form name="Form" onsubmit="return validateForm()" action="/new_undone_chore" method="POST">
Mikä kotityö?<br>
<input type="text" name="kuvaus">
<br>
Kuinka monta minuuttia siihen arviolta menee?<br>
<input type="text" name="kesto">
<br>
Kenelle työ sopii?<br>
{% for category in categories %}
<input type="radio" name="luokka" value={{ category[0] }}> {{ category[2] }} <br>
{% endfor %}
<br>
<input type="submit" value="Lähetä">
</form>
<script type="text/javascript">
  function validateForm() {
    var a = document.forms["Form"]["kuvaus"].value;
    var b = document.forms["Form"]["luokka"].value;
    if (a == null || a == "", b == null || b == "") {
      alert("Täytä lomakkeelle kuvaus ja kenelle se sopii - ne ovat pakollisia kenttiä");
      return false;
    }
  }
</script>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
