{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<title>Etusivu</title>
<h2>Tervetuloa!</h2>
<p>
Olet sivuston {{ counter }}. käyttäjä
<p>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<hr>
Haluatko katsoa/raportoida tekemättömiä kotitöitä tai raportoida uusia tehtyjä?<br>
<a href="/homechores">Kotityölistaukseen</a>
<p></p>
<hr>
Jos olet valmis voit myös kirjautua ulos:<br>
<a href="/logout">Kirjaudu ulos</a>
<hr>
{% else %}
<hr>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<p> Jos et ole vielä sovelluksen käyttäjä:</p>
<a href="/register">Rekisteröidy käyttäjäksi</a>
{% endif %}
{% endblock %}

