<title>Uusi kotityö</title>
<h1>Uusi tehty kotityö</h1>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<form name="Form" onsubmit="return validateForm()" action="/new_chore" method="POST">
Mikä kotityö?
<input type="text" name="kuvaus">
<br>
Kuinka monta minuuttia siihen meni?
<input type="text" name="kesto">
<input type="submit" value="Lähetä">
</form>
<script type="text/javascript">
  function validateForm() {
    var a = document.forms["Form"]["kuvaus"].value;
    var b = document.forms["Form"]["kesto"].value;
    if (a == null || a == "", b == null || b == "") {
      alert("Ole hyvä ja täytä kuvaus ja kesto - ne ovat pakollisia tietoja");
      return false;
    }
    else if (a.length > 100) {
        alert("Kuvaus on liian pitkä");
        return false;
    }
    else if (b.length > 3) {
        alert("Kesto on liian pitkä");
        return false;
    }
    else if (isNaN(b)) {
        alert("Keston oltava numeroita");
        return false;
    }
    else {
        return true;
    } 
  }
</script>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
