{% extends "layout.html" %}
{% block title %}Kotityösivu{% endblock %}
{% block content %}
<title>Kotityösivu</title>
<h2>Kotityösivu</h2>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<hr>
{% if chores|length == 0 %}
Ei keskeneräisiä töitä
{% else %}
{% for chore in chores %}
<hr>
<a href="/forward_chore/{{ chore[0] }}">Valitse tämä kotityö päivitettäväksi</a> <br>
Kotityön kuvaus: {{ chore[1] }} <br>
Vastuussa: {{ chore[2] }} <br>
Kesto minuuteissa: {{ chore[3] }} <br>
Vaihe: {{ chore[4] }} <br>
Kenelle soveltuu: {{ chore[5] }} <br>
</hr>
{% endfor %}
<p></p>
<hr>
<a href="/homechores">Takaisin vapaiden kotitöiden sivulle</a>
<p></p>
<a href="/logout">Kirjaudu ulos</a>
{% endif %}
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
<a href="/">Etusivulle</a>
{% endblock %}
