<title>Maksetut kotityöt</title>
<h1>Hyväksytyt ja maksetut kotityöt</h1>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
{% for chore in chores %}
<hr>
Kotityön kuvaus: {{ chore[1] }} <br>
Vastuussa: {{ chore[2] }} <br>
Kesto minuuteissa: {{ chore[3] }} <br>
Vaihe: {{ chore[4] }} <br>
Kenelle soveltuu: {{ chore[5] }} <br>
Palkka euroina: {{ chore[6] }} <br>
</hr>
{% endfor %}
<p></p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
<a href="/">Etusivulle</a>
