{% extends "layout.html" %}
{% block title %}Rekisteröitymissivu{% endblock %}
{% block content %}
<h2>Rekisteröitymissivu</h2>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p>Olet siis jo rekisteröitynyt</p>
{% else %}
<p>Valitse itsellesi tunnus, salasana ja kerro ikäsi:<p>
<hr>
<form action="/registering" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<p>Ikä:<br>
<input type="number" name="age"></p>
<input type="submit" value="Rekisteröidy">
</form>
<p></p>
{% endif %}
{% endblock %}
